.mc-buttons{
  margin-top:20px;
  display:flex;
  justify-content:center;
  gap:15px;
}

.btn-check{
  background:#1f5fd1;
  color:white;
  border:none;
  padding:12px 22px;
  border-radius:12px;
  font-weight:600;
  cursor:pointer;
}

.btn-next{
  background:#1f5fd1;
  color:white;
  border:none;
  padding:12px 18px;
  border-radius:12px;
  font-size:18px;
  cursor:pointer;
}
