.mc-wrapper{
  max-width:1000px;
  margin:40px auto;
}

.mc-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px;
}

.mc-card{
  background:white;
  padding:25px;
  border-radius:18px;
  box-shadow:0 6px 15px rgba(0,0,0,0.08);
}

.mc-question{
  font-size:18px;
  font-weight:bold;
  margin-bottom:20px;
}

.mc-image{
  width:100%;
  max-height:220px;
  object-fit:contain;
  margin-bottom:20px;
}

.mc-option{
  background:#1e40af;
  color:white;
  padding:14px;
  border-radius:12px;
  margin-bottom:12px;
  cursor:pointer;
  transition:0.2s;
  font-weight:500;
}

.mc-option:hover{
  background:#1d4ed8;
}

.mc-correct{
  background:#16a34a !important;
}

.mc-wrong{
  background:#dc2626 !important;
}
