.container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:24px;
  max-width:1100px;
  margin:40px auto;
}

.images, .words{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  gap:16px;
}

.card{
  background:white;
  border-radius:16px;
  padding:10px;
  text-align:center;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.image{
  width:100%;
  height:100px;
  object-fit:contain;
  cursor:grab;
}

.word{
  padding:18px;
  background:#fff;
  border:2px dashed #0b5ed7;
  border-radius:14px;
  font-size:17px;
  font-weight:bold;
  text-align:center;
}

.correct{
  background:#d4edda;
  border-color:green;
}

.wrong{
  background:#f8d7da;
  border-color:red;
}
